<p id="notice"><%= notice %></p>
<div class="container-fluid">
  <div class="row">
<h1 class="col-md-3">Collections</h1>
<%= button_to 'New Collection', new_collection_path, :class => "btn btn-primary col-md-12", :method => :get %>
</div>
</div>
<div style="overflow-y:auto;max-height:81vh">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Owner</th>
      <th>Title</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @collections.each do |collection| %>
      <tr>
        <td><%= collection.user.username %></td>
        <td>
          <% if collection.title.length>45 %>
            <%= collection.title.text[0..44]+'...' %>
          <% else %>
            <%= collection.title%>
          <% end %> 
        </td>
        <td>
          <div class="btn-group">
          <%= button_to 'Show', collection, :class => "btn btn-primary", :method => :get %>
          <%= button_to 'Edit', edit_collection_path(collection), :class => "btn btn-success", :method => :get  %>
          <%= button_to 'Destroy', collection, :class => "btn btn-danger", :method => :get  %>
          Share
        </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>