<p id="notice"><%= notice %></p>
<div class="container-fluid">
  <div class="row">
<h1 class="col-md-2">Notes</h1>
<%= button_to 'New Note', new_note_path, :class => "btn btn-primary col-md-12", :method => :get %>
</div>
<div style="overflow-y:auto;max-height:81vh">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Owner</th>
      <th>Text</th>
      <th>Image</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.owner.username %></td>
        <td>
          <% if note.text.length>45 %>
            <%= note.text[0..44]+'...' %>
          <% else %>
            <%= note.text%>
          <% end %> 
        </td>
        <td>
          <% if note.image.url(:thumb) != '/images/thumb/missing.png' %>
            <%=  image_tag note.image.url(:thumb) %>
          <% end %>
        </td>
        <td>
          <div class="btn-group">
          <%= button_to 'Show', note, :class => "btn btn-primary", :method => :get %>
          <%= button_to 'Edit', edit_note_path(note), :class => "btn btn-success", :method => :get %>
          <%= button_to 'Destroy', note, :class => "btn btn-danger", :method => :get %>
        </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>