<p id="notice"><%= notice %></p>

<h1>Notes</h1>



<table class="table table-striped">
  <thead>
    <tr>
      <th>Owner</th>
      <th>Text</th>
      <th>Image</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.user.username %></td>
        <td>
          <% if note.text.length>30 %>
            <%= note.text[0..29]+'...' %>
          <% else %>
            <%= note.text%>
          <% end %> 
        </td>
        <td>
          <% if note.image.url(:thumb) != '/images/thumb/missing.png' %>
            <%=  image_tag note.image.url(:thumb) %>
          <% end %>
        </td>
        <td>
          <div class="btn-group">
          <%= button_to 'Show', note, :class => "btn btn-primary", :method => :get %>
          <%= button_to 'Edit', edit_note_path(note), :class => "btn btn-success", :method => :get %>
          <%= button_to 'Destroy', note, :class => "btn btn-danger", :method => :get %>
          Share
        </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= button_to 'New Note', new_note_path, :class => "btn btn-primary", :method => :get %>
