<p id="notice"><%= notice %></p>

<p>
  <strong>Owner:</strong>
  <%= @note.user.username %>
</p>

<p>
  <strong>Text:</strong>
  <%= @note.text %>
</p>

<% if @note.image.url(:medium) != '/images/medium/missing.png' %>
    <td><%=  image_tag @note.image.url(:medium) %></td>
<% else %>
    <td></td>
<% end %>

<h1>Belongs to collections:</h1>
<% @collections.each do |collection| %>
      <% if @note.collection_ids.include? collection.id %>
        <tr>
          <td><%= collection.title %></td>
          
          <td><%= link_to 'Show', collection %></td>
          <td><%= link_to 'Edit', edit_collection_path(collection) %></td>
          <td><%= link_to 'Destroy', collection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td>Share</td>
        </tr>
      <% end %>
    <% end %>

<br>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
