
<body>
 <div id="container">
 <% if !session[:user] %>
 <div class="btn-group">
 <%= button_to "Sign up", signup_path, :class => "btn btn-primary btn-lg", :style => "height:94.6vh;width:49.7vw;", :method => :get %>
<div class="right">
 <%= button_to "Log in", login_path, :class => "btn btn-primary btn-lg", :style => "height:94.6vh;width:49.7vw;", :method => :get %>
</div>
</div>
 <% else %>
 <div class="btn-group">
 <%= button_to "Notes", notes_path, :class => "btn btn-primary btn-lg", :style => "height:94.6vh;width:24.8vw;", :method => :get %>
 <%= button_to "Collections", collections_path, :class => "btn btn-warning btn-lg", :style => "height:94.6vh;width:24.8vw;", :method => :get %>
 <%= button_to "Friends", friends_index_path, :class => "btn btn-basic btn-lg", :style => "height:94.6vh;width:24.8vw;", :method => :get %>
 Management
</div>
 <% end %>
 </div>
 <%= yield %>
 </div>
</body>